---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <%= image_tag "roundel.svg", width: "200" %>
    <p>
      Spitfires are cool!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
    <div class="container" id="home-flats">
      <h2 class="text-center">Top Spitfires</h2>
      <div class="row">
        <% data.planes.each do |owner, spitfire| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="http://localhost:4567/planes/<%= owner %>.html">
              <div class="card" style="background-image: linear-gradient(-225deg, rgba(160,234,255,0.6) 0%, rgba(0,0,0,0) 100%), url('images/<%= spitfire.spitfire_slug %>.jpg');">
                <div class="card-category"><%= spitfire.spitfire_name %></div>
                <div class="card-description">
                  <h3><%= spitfire.name %></h3>
                  <p><%= spitfire.description %></p>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
